server:
  port: 8080
  address: 0.0.0.0

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jackson:
    time-zone: Asia/Ho_Chi_Minh
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

logging:
  level:
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html


#modem:
#  port: "COM1"       # Cổng modem E173
#  baudRate: 115200   # Tốc độ chuẩn của Huawei
#  openTimeoutMs: 2000
#  writeDelayMs: 500

app:
  device:
    api-key: "123456ABC"

weather:
  api:
    url: ${api.url:https://api.openweathermap.org/data/2.5/weather}
    key: ${api.key:c3d975d02f51cd35cecee1bf9b7355a1}
    timeout-ms: ${api.timeout-ms:5000}

sms-gateway:
  url: "https://subreniform-garnett-unparticularised.ngrok-free.dev/api/sms-gateway/send-sms"   # LÚC ĐẦU test local
  api-key: "OPKFPOKFWAOK21412AWFDAWFJ"                   # phải TRÙNG với smsgateway.api-key